body {
  background-color: rgb(234, 241, 241);
  background-image: url("/static/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
/* .image {
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 10px;
  height: 150px;
  width: 250px;
  background: url("static/logo.png") no-repeat center center;
  background-size: contain;
} */
.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-items: center;
  width: 90%;
  margin: 20px auto;
}

h1 {
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

h2 {
  background: rgba(0, 0, 0, 0.7); /* Solid background for readability */
  padding: 5px 10px;
  display: inline-block; /* Wrap background to text */
  color: #ffffff; /* White color for text */
}

.form {
  margin-bottom: 25px;
}

.move {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn-success {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  margin-left: 10px;
}

.btn-success:hover {
  background-color: #218838;
}

select {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .form {
    width: 95%;
    margin: 0 auto;
  }

  h2 {
    font-size: smaller;
  }
}


